body {
    font-size:12px;
    background-color: lightcyan;
    font-family:Arial, Verdana, Helvetica, sans-serif;
    color:black;
    line-height:1.3px;
    margin:20;
}

input {
    font-size:14px;
    line-height:10px;
    padding:10px;
    margin:20px;
}

th {
    background-color: lightseagreen;
    font-size:14px;
    line-height:10px;
    margin:1px;
    padding:10px;
    border:1px solid black;
}

td {
    background-color: darkseagreen;
    font-size:12px;
    line-height:10px;
    margin:1px;
    padding:5px;
    border:1px solid black;
}

table {
    margin:10px;
}

div#table {
    text-align:center;
}

h2,p {
    text-align:center;
}