.CSSTable {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.CSSTable table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.CSSTable tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.CSSTable tr:nth-child(even) {
  background-color: #ffffff;
}

.CSSTable td {
  vertical-align: middle;
  border: 1px solid #bcbcbc;
  border-width: 1px 1px 1px 1px;
  padding: 2px;
  font-size: 11px;
  font-family: Arial;
  font-weight: normal;
  color: #000000;
}

.CSSTable th {
  text-align: center;
  border-width: 0px 0px 1px 1px;
  font-size: 14px;
  font-family: Arial;
  border: 1px solid #bcbcbc;
}

.CSSTable tr:first-child td {
  background: -o-linear-gradient(bottom, #cccccc 5%, #cccccc 100%);
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #cccccc));
  background: -moz-linear-gradient( center top, #cccccc 5%, #cccccc 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#cccccc");
  background: -o-linear-gradient(top, #cccccc, cccccc);
  background-color: #cccccc;
  border: 0px solid #bcbcbc;
  text-align: center;
  border-width: 0px 0px 1px 1px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: #000000;
}

.left-nums {
  width: 22px;
  text-align: center;
}

.source-data {
  width: 22px;
  text-align: center;
}

input {
  width: 100%;
  border: 0px;
  padding: 0px;
}

.saved-copied {
  width: 46px;
}

#header-fixed {
    position: fixed;
    top: 0px; display:none;
    background-color:white;
}


