body {
  padding-top: 40px;
}

.custom-body {
  padding: 7px 5px;
  text-align: left;
  margin-top: 10px;
}
.remove-borders {
  border: 0;
}

.width33 {
  width: 33%;
}


.table-condensed>tbody>tr>td {
  padding: 0px;
  border: 0px;
}

.table>tbody>tr>td {
  padding: 0px;
  line-height: 1.5;
  vertical-align: top;
  border-top: 1px solid #ffffef;
  padding-left: 0px;
}

.navbar {
  margin-bottom: 0px;
  height: 40px;
  min-height: 40px;
}

.navbar-inverse {
  margin-bottom: 0px;
  height: 40px;
}

.navbar-header {
  height: 40px;
}

.nav {
  height: 40px;
}

.navbar-fixed-top {
  height: 40px;
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand {
  float: left;
  height: 40px;
  padding: 10px 10px;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control {
  top: 350px;
  font-size: 30px;
}

.bs-docs-container {
  margin-left: 10px;
  margin-right: 10px;
}


/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* --------------------------------

Main components

-------------------------------- */


.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(85, 85, 86, 0.4) url(cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

.bs-docs-sidebar.affix {
  margin-top: 40px;
}
