[prisma]
description: PRISMA
mappingname: prisma
streamtype: prismasql
fulltextpath: /dc/dsol/steadystate/pqft/feeds/extracted
schema_major_ver: 5.1
schema_minor_ver: 37
ssroot: /dc/dsol/var/steadystate

[iipa]
description: IIPA (to get full text, pass -m fulltext)
mappingname: impa
streamtype: xml
;xpath: /documents/document
docdelimiter: document
fulltextpath: /dc/dsol/steadystate/pqft/feeds/extracted
innodataft: /dc/dsol/steadystate/innodata/cache
schema_major_ver: 5.1
schema_minor_ver: 53
ssroot: /dc/dsol/var/steadystate

[iimp]
description: IIMP (to get full text, pass -m fulltext)
mappingname: impa
streamtype: xml
;xpath: /documents/document
docdelimiter: document
fulltextpath: /dc/dsol/steadystate/pqft/feeds/extracted
innodataft: /dc/dsol/steadystate/innodata/cache
schema_major_ver: 5.1
schema_minor_ver: 53
ssroot: /dc/dsol/var/steadystate

[imparef]
description: The IIMP reference material
mappingname: imparef
streamtype: xml
;xpath: //rec
docdelimiter: rec
noss: true
checkpubids: false

[bp]
description: British Periodicals
mappingname: bp
streamtype: bp
journalsfile: /dc/scratch/publications/vega/normalised/full/bp_all.xml
schema_major_ver: 5.1
schema_minor_ver: 53

[oup]
description: IIMP: OUP Reference Work
mappingname: oup
streamtype: xml
xpath: /OPR/letter/record

[eima]
description: EIMA - Entertainment Idustry Magazine Archive
mappingname: eima
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/eima
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/eima
coordstyle: relative
msroot: /dc/dsol/steadystate/mediaservices/out/eima
schema_major_ver: 5.1
schema_minor_ver: 6
recordperfile: true
copyright_lookup: eima.lut
pdf_representation: true

[vogue]
description: Vogue
mappingname: vogue
streamtype: etree
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/vogue
recordperfile: true
schema_major_ver: 5.1
schema_minor_ver: 24

[pio]
description: PAO/PIO
mappingname: pio
streamtype: genfile
cachefileroot: /dc/dsol/np/pio
schema_major_ver: 5.1
schema_minor_ver: 24

[wwd]
description: Women\'s Wear Daily
mappingname: wwd
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/wwd
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/wwd
coordstyle: absolute
msroot: /dc/dsol/steadystate/mediaservices/out/wwd
schema_major_ver: 5.1
schema_minor_ver: 6
recordperfile: true

[aaa]
description: Art and Architecture Archive
mappingname: aaa
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/aaa
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/aaa
coordstyle: relative
msroot: /dc/dsol/steadystate/mediaservices/out/aaa
product_end_date: 2005
schema_major_ver: 5.1
schema_minor_ver: 6
recordperfile: true
copyright_lookup: aaa.lut
pdf_representation: true

[trj]
description: Trench Journals
mappingname: trj
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/trj
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/trj
coordstyle: relative
msroot: /dc/dsol/steadystate/mediaservices/out/trj
schema_major_ver: 5.1
schema_minor_ver: 37
recordperfile: true

[bpc]
description: British Periodicals Collection 3
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/bpc
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/bpc
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 41
;; XPath statements used in the mapping and
;; media service scripts to identify the various
;; parts of the document.
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/bpc
legacyprefix: bp
recordperfile: true
product_end_date: 1970

[bpd]
description: British Periodicals Collection 4
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/bpd
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/bpd
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 41
;; XPath statements used in the mapping and
;; media service scripts to identify the various
;; parts of the document.
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/bpd
legacyprefix: bp
recordperfile: true
product_end_date: 2007
copyright_lookup: bpd.lut


[wma]
description: Women\'s Magazine Archive
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/wma
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/wma
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
;; XPath statements used in the mapping and
;; media service scripts to identify the various
;; parts of the document.
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/wma
recordperfile: true
product_end_date: 2005
copyright_lookup: wma.lut
pdf_representation: true
mapping_rules: Leviathan


[hba]
description: Harper\'s Bazaar
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/hba
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/hba
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 41
;; XPath statements used in the mapping and
;; media service scripts to identify the various
;; parts of the document.
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/hba
recordperfile: true
;; product_end_date: 2005


[dnsa]
description: Digital National Security Archive
mappingname: dnsa
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/dnsa
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/dnsa
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 48
;; XPath statements used in the mapping and
;; media service scripts to identify the various
;; parts of the document.
xpaths: leviathan.xpath
mediaroot: /dc/dnsa/hms
recordperfile: true
source_encoding: iso-latin-1
unstructured: true

[film]
description: The CH Film products
mappingname: film
streamtype: etree
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
no_page_images: true
copyright_lookup: film.lut
source_checksums: /dc/dsol/np/source_checksums/film

[npp]
description: News, Policy and Politics
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/npp
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/npp
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 41
;; XPath statements used in the mapping and
;; media service scripts to identify the various
;; parts of the document.
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/npp
recordperfile: true
;; product_end_date: 2005
copyright_lookup: npp.lut

[rma]
description: Religious Magazine Archive
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/rma
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/rma
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
;; XPath statements used in the mapping and
;; media service scripts to identify the various
;; parts of the document.
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/rma
recordperfile: true
copyright_lookup: rma.lut

[edu]
description: Education Magazine Archive
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/edu
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/edu
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
;; XPath statements used in the mapping and
;; media service scripts to identify the various
;; parts of the document.
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/edu
recordperfile: true
copyright_lookup: edu.lut
product_end_date: 2015

[via]
description: Vogue Italia
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/via
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/via
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/via
copyright_lookup: via.lut
pdf_representation: false
recordperfile: true

[lgb]
description: LGBT Magazine Archive
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/lgb
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/lgb
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/lgb
copyright_lookup: lgb.lut
;; pdf_representation: false
recordperfile: true

[art]
description: Art and Architecture Archive, collection 2
mappingname: leviathan
streamtype: etree
legacyprefix: aaa-
pagefileroot: /dc/dsol/np/ms/pagefiles/art
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/art
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/art
copyright_lookup: art.lut
pdf_representation: true
mapping_rules: Leviathan

[eim]
description: Entertainment Industry Magazine Archive, Collection 3
mappingname: leviathan
streamtype: etree
legacyprefix: eima-
pagefileroot: /dc/dsol/np/ms/pagefiles/eim
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/eim
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/eim
copyright_lookup: eim.lut
pdf_representation: true
mapping_rules: Leviathan

[gqm]
description: GQ Magazine Archive
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/gqm
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/gqm
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/gqm
copyright_lookup: gqm.lut
pdf_representation: true
mapping_rules: Leviathan

[hfa]
description: Health and Fitness Magazine Archive
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/hfa
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/hfa
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/hfa
copyright_lookup: hfa.lut
pdf_representation: true
mapping_rules: Leviathan

[mma]
description: Men's Magazine Archive
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/mma
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/mma
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/mma
copyright_lookup: mma.lut
pdf_representation: true
mapping_rules: Leviathan

[ypc]
description: Youth and Popular Culture Magazine Archive
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/ypc
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/ypc
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/ypc
copyright_lookup: ypc.lut
pdf_representation: true
mapping_rules: Leviathan

[rsm]
description: Rolling Stone Magazine Archive
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/rsm
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/rsm
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/rsm
copyright_lookup: rsm.lut
pdf_representation: true
mapping_rules: Leviathan

[afm]
description: Artforum International Magazine Archive
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/afm
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/afm
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/afm
copyright_lookup: afm.lut
pdf_representation: true
mapping_rules: Leviathan

[ger]
description: Gerritsen Periodicals
mappingname: gerritsen
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/ger
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/ger
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/ger
copyright_lookup: ger.lut
mapping_rules: Gerritsen

[feer]
description: Far Eastern Economic Review
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/feer
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/feer
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/feer
copyright_lookup: feer.lut
mapping_rules: Leviathan

[ecw]
description: Empire and Commonwealth Magazine Archive
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/ecw
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/ecw
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/ecw
copyright_lookup: ecw.lut
pdf_representation: true
mapping_rules: Leviathan

[hou]
description: House Beautiful
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/hou
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/hou
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/hou
copyright_lookup: hou.lut
mapping_rules: Leviathan

[obs]
description: Observer
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/obs
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/obs
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/obs
copyright_lookup: obs.lut
mapping_rules: Leviathan

[cpa]
description: Children's Periodicals Archive
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/cpa
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/cpa
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/cpa
copyright_lookup: cpa.lut
pdf_representation: true
mapping_rules: Leviathan

[sar]
description: Socialist and Radical Periodicals
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/sar
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/sar
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/sar
copyright_lookup: sar.lut
pdf_representation: true
mapping_rules: Leviathan

[fna]
description: Footwear News Archive
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/fna
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/fna
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/fna
copyright_lookup: fna.lut
pdf_representation: true
mapping_rules: Leviathan

[dnr]
description: Daily News Record
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/dnr
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/dnr
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/dnr
copyright_lookup: dnr.lut
pdf_representation: true
mapping_rules: Leviathan

[eth]
description: Ethnicity and Culture
mappingname: leviathan
streamtype: etree
pagefileroot: /dc/dsol/np/ms/pagefiles/eth
rescalecacheroot: /dc/dsol/np/ms/image_rescale_cache/eth
coordstyle: absolute
schema_major_ver: 5.1
schema_minor_ver: 53
xpaths: leviathan.xpath
msroot: /dc/dsol/steadystate/mediaservices/out/eth
copyright_lookup: eth.lut
pdf_representation: true
mapping_rules: Leviathan