TY  - BOOK
AU  - $author_attribution_set[0].namefromdata
#if len($author_attribution_set) > 1
#for $author in $author_attribution_set[1:]
A2  - $author.$namefromdata ($author.role)
#end for
#end if
TI  - $title
CY  - $city
PB  - $publisher
Y2  - $filepubdate
Y1  - $pubdate
SN  - $ISBN
T2  - Literature Online
UR  - http://gateway.proquest.com/openurl?ctx_ver=Z39.88-2003&xri:pqil:res_ver=0.2&res_id=xri:lion&rft_id=xri:lion:po:$idref
N1  - $notes
N1  - 2000, Chadwyck-Healey (a Bell & Howell Information and Learning company)
N1  - Copyright (c) 2007 ProQuest-CSA LLC. All Rights Reserved. Do not export or print from this database without checking the Copyright Conditions to see what is permitted.
ER  - 