<comcitn>#slurp
<TY>BOOK</TY>#slurp
<A1>${" / ".join([$a.namefromdata for $a in $author_attribution_set])}</A1>#slurp
<T1>$title</T1>#slurp
<PBL>$publisher</PBL>#slurp
<Y1>$pubdate</Y1>#slurp
<T2>Literature Online</T2>#slurp
<ID>$currentidref</ID>#slurp
</comcitn>#slurp