<comcitn>#slurp
<TY>CHAP</TY>#slurp
<A1>${" / ".join([$a.namefromdata for $a in $author_attribution_set])}</A1>#slurp
<T1>$title</T1>#slurp
<T2>$volume_set[0].title</T2>#slurp
<PBL>$volume_set[0].publisher</PBL>#slurp
<Y1>$volume_set[0].pubdate</Y1>#slurp
<T3>Literature Online</T3>#slurp
<ID>$currentidref</ID>#slurp
</comcitn>#slurp