TY  - CHAP
AU  - $author_attribution_set[0].namefromdata
TI  - $title
#if len($author_attribution_set) > 1
#for $author in $author_attribution_set[1:]
A2  - $author.$namefromdata ($author.role)
#end for
#end if
T2  - $volume_set[0].title
CY  - $volume_set[0].city
PB  - $volume_set[0].publisher
Y2  - $volume_set[0].filepubdate
Y1  - $volume_set[0].pubdate
SP  - $startpage
SN  - $volume_set[0].ISBN
T3  - Literature Online
UR  - http://gateway.proquest.com/openurl?ctx_ver=Z39.88-2003&xri:pqil:res_ver=0.2&res_id=xri:lion&rft_id=xri:lion:po:$idref
N1  - $volume_set[0].notes
N1  - 2000, Chadwyck-Healey (a Bell & Howell Information and Learning company)
N1  - Copyright (c) 2007 ProQuest-CSA LLC. All Rights Reserved. Do not export or print from this database without checking the Copyright Conditions to see what is permitted.
ER  - 