.directories {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    overflow: hidden;
    background: #ADD8E6;
    font: 11pt "Calibri", sans-serif;
}

.xml {
    position: fixed;
    top: 0;
    left: 239px;
    width: 265px;
    height: 100%;
    overflow: hidden;
    background: #ADD8FF;
    font: 11pt "Calibri", sans-serif;
}

.images {
    position: absolute;
    top: 0;
    width: 100%;
    left: 504px;
    height: 100%;
    background: #FFFFFF;
}

ul {
    list-style-type: none;
}

ul a:active {
    color: yellow;
}

ul a:hover {
    color: #FFF;
}

li {
    list-style-type: none;
}

li a:hover {
    color: #FFF;
}

textarea {
    overflow: auto;
}

.table-condensed>tbody>tr>td {
    padding: 0px;
}

.table>tbody>tr>td {
    padding: 0px;
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid #ffffef;
    padding-left: 0px;
}

.scrollable-menu {
    height: auto;
    width: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.dropdown-menu {
    min-width: 250px;
}

.col-md-10,
.col-md-3 {
    position: relative;
    min-height: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.twitter-typeahead {
    width: 100%;
    vertical-align: middle;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

.tt-dropdown-menu {
    min-width: 180px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    width: 100%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.dropdown {
    margin-top: 15px;
}
