#from time import localtime, strftime
#import re
#set global $thisyear=$strftime('%Y', $localtime())
=LDR  00000nam\\22000001a\4500
=001  $ctrl
=003  Uk-CbPIL
=005  $sysdate
=006  m\\\\\\\\|\\\\\\\\
=007  cr||||||||||||
=008  ${recdate}r${f_pubdate}${s_pubdate}${country}\\\\\s\\\\||||\|\eng\d
=040  \\\$aUK-CbPIL\$cUK-CbPIL
#if $auth_100 !=''
=100  $auth_100
#end if
##* reset $f_ttl to remove all remaining xml tag
#set $f_ttl=re.sub('<.*?>','',$f_ttl)
###when there is a $b in the title it should come after $h[electronic resource]
#set $spf =$f_ttl.split('$b') 
##Reset f_ttl
#set $f_ttl=$spf[0]
#if len($spf)>1
#set $bval= ':$b'+ $spf[1]
#else
#set $bval=''
#end if 
##
##field =245 when $auth_100!=''
###
#if $auth_100!=''
#if $f_ttl.startswith('A ')
=245  12\$a$f_ttl\$h[electronic resource]$bval.
#elif $f_ttl.startswith('An ')
=245  13\$a$f_ttl\$h[electronic resource]$bval.
#elif $f_ttl.startswith('The ')
=245  14\$a$f_ttl\$h[electronic resource]$bval.
#else
=245  10\$a$f_ttl\$h[electronic resource]$bval.
#end if
##
#end if
##
##
###field =245 when $auth_100==''
#if $auth_100==''
#if $f_ttl.startswith('A ')
=245  02\$a$f_ttl\$h[electronic resource]$bval.
#elif $f_ttl.startswith('An ')
=245  03\$a$f_ttl\$h[electronic resource]$bval.
#elif $f_ttl.startswith('The ')
=245  04\$a$f_ttl\$h[electronic resource]$bval.
#else
=245  00\$a$f_ttl\$h[electronic resource]$bval.
#end if
##
#end if
###
###
=256  \\\$aElectronic data.
##=260  \\\$a$f_city :\$b$f_publ,\$c$f_pubdate.
=260  \\\$a$f_city [eng.] :\$bProquest LLC,\$c$f_pubdate. 
#if $s_pubnote!="" and $s_serial==''
=500  \\\$a$s_pubnote
#end if
#if $s_pubnote=="" and $s_serial!=''
=500  \\\$as_serial
#end if 
#if $s_pubnote!="" and $s_serial!=''
=500  \\\$a$s_pubnote
=500  \\\$a$s_serial
#end if
###
#if $desc !="" and $isbn !=""
#set $newdesc ="=534  \\\$pTranscribed from: $a"+$orig_auth.strip()+"$t"+$s_ttl.strip()+"$c"+$s_city.strip() +": "+ $s_publ.strip()+", "+$s_pubdate.strip()+".$e"+$desc.strip()+"$z"+$isbn.strip()
#if $newdesc.endswith('.')
##* reset $newdesc to remove all remaining xml tag
#set $newdesc=re.sub('<.*?>','',$newdesc)
$newdesc
#else
#set $newdesc=re.sub('<.*?>','',$newdesc)
$newdesc.
#end if
#end if 
#if $desc =="" and $isbn ==""
#set $newdesc="=534  \\\$pTranscribed from: $a"+$orig_auth.strip()+"$t"+$s_ttl.strip()+"$c"+$s_city.strip()+": "+ $s_publ.strip()+", "+$s_pubdate.strip()
#if $newdesc.endswith('.')
#set $newdesc=re.sub('<.*?>','',$newdesc)
$newdesc
#else
#set $newdesc=re.sub('<.*?>','',$newdesc)
$newdesc.
#end if
#end if 
#if $desc !="" and $isbn ==""
#set $newdesc="=534  \\\$pTranscribed from: $a"+$orig_auth.strip()+"$t"+$s_ttl.strip()+"$c"+$s_city.strip()+": "+ $s_publ.strip()+", "+$s_pubdate.strip()+".$e"+$desc.strip()
#if $newdesc.endswith('.')
#set $newdesc=re.sub('<.*?>','',$newdesc)
$newdesc
#else
#set $newdesc=re.sub('<.*?>','',$newdesc)
$newdesc.
#end if
#end if 
#if $desc =="" and $isbn !=""
#set $newdesc="=534  \\\$pTranscribed from: $a"+$orig_auth.strip()+"$t"+$s_ttl.strip()+"$c"+$s_city.strip()+": "+ $s_publ.strip()+", "+$s_pubdate.strip()+".$z"+$isbn.strip()
#if $newdesc.endswith('.')
#set $newdesc=re.sub('<.*?>','',$newdesc)
$newdesc
#else
#set $newdesc=re.sub('<.*?>','',$newdesc)
$newdesc.
#end if
#end if 
###
#if $f_pubnote!='' and $copyrite==''
##=540  \\\$a$f_pubnote
=540  \\\$aCopyright (c) $thisyear ProQuest LLC. All Rights Reserved. Do not export or print from this database without checking the Copyright Conditions to see what is permitted.  
#end if 
#if $f_pubnote=='' and $copyrite!=''
##* reset $copyrite to remove all remaining xml tags
#set $copyrite=re.sub('<.*?>','',$copyrite)
=540  \\\$a$copyrite
#end if 
#if $f_pubnote!='' and $copyrite!=''
##=540  \\\$a$f_pubnote
=540  \\\$aCopyright (c) $thisyear ProQuest LLC. All Rights Reserved. Do not export or print from this database without checking the Copyright Conditions to see what is permitted.  
#set $copyrite=re.sub('<.*?>','',$copyrite)
=540  \\\$a$copyrite
#end if
#if $f_subjects !='' 
##or $f_subjects.find('SUBJECTS_MISSING')!=-1
=653  \\\$a$f_subjects
#end if 
#if $auths_700!=''
#set $alladauth=$auths_700.split('|')
#for $oneaut in $alladauth
#if $oneaut !=''
#set $newoneaut=$oneaut.replace('.$e(ed.)',',$e(ed.)').replace('.$e(orig.)',',$e(orig.)')
=700  $newoneaut
#end if 
#end for
#end if 
#if $f_series !=''
=773  0\\$t$f_series.replace('The Faber Poetry','Faber Poetry')
#end if
##set $thisyear=$strftime('%Y', $localtime())
=773  0\\$tLiterature online copyright (c) 1996-$thisyear ProQuest LLC
=856  40\$s$attbytes\$uhttp://lion.chadwyck.co.uk/
