/*! Custom css goes here */
.navbar-fixed-top {
  height: 40px;
}
.navbar-header {
  height: 40px;
}
.navbar {
  min-height: 40px;
}
.navbar-brand {
  height: 40px;
  padding: 10px 10px;
}
.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.custom-body {
  padding-top: 50px;
}
