.picture {
    width:200px;
    height:130px;
    border:5px solid white;
    margin-left:25px;
    margin-top:40px;
}
.entry {
    width:600px;
    margin:0 auto;  
}

.picturebox {
    background-color:teal;
    color:white; 
    width:270px;
    height:220px;
    text-align:center;
    vertical-align:middle;
    /* float:left; */
    border-bottom:1px solid #FFDEAD;
    
}

.textbox {   
    background-color:teal;
    color:white; 
    width:250px;
    height:180px;
    padding:40px 10px 0px 10px;
    /* float:left; */
    border-bottom:1px solid #FFDEAD;
    text-align:left;
}